.container {
  background-color: #111;
  color: #fff;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  overflow-x: auto;
}

.search-input {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #222;
  color: white;
  border: 1px solid orange;
  border-radius: 6px;
  outline: none;
}


.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 80px;
}

.table th {
  background-color: orange;
  color: black;
  padding: 12px;
}

.table td {
  padding: 12px;
  border: 1px solid #333;
  text-align: center;
  background-color: #1a1a1a;
}

.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: orange;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(255, 165, 0, 0.4);
}

.floating-button:hover {
  background-color: #ffb733;
}
