.navbarr {
  background-color: #141414;
  padding: 12px 20px;
  box-shadow: 0 2px 5px rgba(255, 165, 0, 0.2);
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  /* ¡Esto es clave! */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nombre {
  font-weight: bold;
  color: orange;
  font-size: 28px;
  margin-right: 20px;
}

.links {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.links a {
  color: white !important;
  margin-right: 16px;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.links a:hover {
  color: orange !important;
}

.logo {
  position: absolute;
  top: 15px;
  right: 160px;
  height: 60px;     
  width: auto;
  margin-left: 20px; 
}
